.header__logo {
  width: 142px;
  height: 33px;
  transition: opacity .3s linear;
}

.header__logo:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding-left: 27px;
    width: 104px;
    height: 24px;
  }
}
