.popup-delete__close {
  width: 40px;
  height: 40px;
  background: transparent center url("../../../images/CloseIcon.svg");
  background-size: auto;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity rotate .3s linear;
  padding: 0;
  margin: 0;
}

.popup-delete__close:hover {
  opacity: 0.6;
  cursor: pointer;
  transform: rotate(45deg);
}

@media screen and (max-width: 320px) {
  .popup-delete__close {
    background: transparent center url("../../../images/CloseIcon1.svg");
    border: none;
    right: 0;
    width: 24px;
    height: 24px;
  }
}
