.profile__edit-button {
  background-color: #000000;
  min-width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/edditbutton.svg);
  align-self: center;
  margin-left: 18px;
  border: 1px solid white;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity .3s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
