.popup__submit-button_anactive {
  border: 1px solid #B8B8B8;
  box-sizing: border-box;
  color: #B8B8B8;
  background: #FFFFFF;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
