.enterPage {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 80px;
    max-width: 880px;
}

@media screen and (max-width: 320px) {
    .enterPage {
      padding: 40px 30px 12px;
    }
  }