.card__like {
  background: url(../../../images/likeactive.svg);
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  align-self: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  transition: opacity .2s linear;
}

.card__stroke:hover {
  opacity: .5;
  cursor: pointer;
}

