.header-popup {
  border-bottom: 1px solid rgba(84, 84, 84, 0.8);
  max-width: 880px;
  margin: 0 auto;
  height: 0;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
}