.popup__container {
  width: 100%;
  max-width: 358px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 34px 36px 37px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 238px;
    padding: 25px 22px;
  }
}
