.header__out {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-decoration: none;
  flex-wrap: nowrap;
  border: none;
  height: 22px;
  transition: opacity 0.3s linear;
  background-color: black;
  border: none;
  text-decoration: none;
}

.header__out:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__out:active {
  opacity: 0.3;
  cursor: pointer;
}

