.header__option-open {
  display: none;
}

.header__option-open:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 325px) {
  .header__option-open {
    display: block;
    height: 21px;
    margin-right: 30px;
    width: 24px;
    transition: opacity 0.2s linear;
    margin-top: 3px;
    background: transparent center url("../../../images/optionOpen.png");
    background-size: auto;
    border: none;
  }
}
